.bar {
	fill:#D50000;
}

.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

#name {
	font-size:20px;
}

#viz {
	margin-bottom:20px;
}

.crisesname {
	font-size:14px;
}